{
  "extends": "airbnb",
  "globals": {
    "App": false,
    "Simplate": false,
    "Sage": false,
    "Mobile": false,
    "ReUI": false,
    "Base64": false,
    "PouchDB": false,
    "Canvas2Image": false,
    "argos": false,
    "describe": false,
    "it": false,
    "expect": false,
    "spyOn": false,
    "module": false,
    "Rx": false,
    "moment": false
  },
  "rules": {
    "max-len": 0,
    "prefer-rest-params": 0,
    "no-param-reassign": 0
  }
}
