<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <% with (scripts) { %>
    <% [].concat(polyfills, jasmine, vendor, helpers).forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>

  <% }; %>

  <!-- JSON -->
  <script type="text/javascript" src="libraries/json2.js"></script>

  <!-- ReUI -->
  <script type="text/javascript">
  reConfig = {
      autoInit: false,
      legacyMode: false,
      showInitialPage: false,
      updateBackButtonText: false
  };
  </script>
  <script type="text/javascript" src="libraries/reui/reui.js"></script>

  <!-- SData Client Library -->
  <script type="text/javascript" src="libraries/sdata/sdata-client-dependencies-debug.js"></script>
  <script type="text/javascript" src="libraries/sdata/sdata-client-debug.js"></script>

  <!-- Moment.js -->
  <script type="text/javascript" src="libraries/moment/min/moment.min.js"></script>

  <!-- Simplate -->
  <script type="text/javascript" src="libraries/Simplate.js"></script>

  <!-- Overthrow -->
  <script type="text/javascript" src="libraries/overthrow/overthrow.js"></script>

  <!-- canvas2image for when HTMLCanvasElement.prototype.toDataURL isn't available -->
  <script type="text/javascript" src="libraries/canvas2image.js"></script>

  <!-- Dojo -->
  <script type="text/javascript" src="libraries/dojo/dojo/dojo.js" data-dojo-config="parseOnLoad:false, async:true"></script>
  <script type="text/javascript">
  require({
      baseUrl: "./",
        packages: [
            { name: 'dojo', location: 'libraries/dojo/dojo' },
            { name: 'dijit', location: 'libraries/dojo/dijit' },
            { name: 'dojox', location: 'libraries/dojo/dojox' },
            { name: 'snap', location: 'libraries/snap', main: 'snap' },
            { name: 'moment', location: 'libraries/moment', main: 'moment' },
            { name: 'Sage/Platform/Mobile', location: '.grunt/grunt-contrib-jasmine/src' },// istanbul outputs the instrumented to this temp folder
            { name: 'tests', location: 'tests' }
        ],
        paths: {
            'Sage/Platform/Mobile': '.grunt/grunt-contrib-jasmine/src'
        }
  });
  </script>
  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }); %>



</head>
<body>
  <script type="text/javascript">
  <% with (scripts) { %>
  require([
  <% specs.forEach(function(spec) { %>
    '<%= spec.replace("./tests", "tests").replace(".js", "") %>',
  <% }); %>
    '<%= boot %>',
    '<%= reporters[0] %>',
    '<%= reporters[1] %>'
  ], function() {
  });
  <% }; %>
  </script>
</body>
</html>
