.tab-container .busy-indicator {
  font-size: 1rem;
}
.tab-container .busy-indicator-container {
  height: 150x;
  width: 100%;
}
.panel-content .busy-indicator-container,
.panel .busy-indicator-container ,
.list .busy-indicator-container {
    width: 100%;
}