@import "variables.less";
@import "mixins.less";

/*For the separate Contextual Menu*/
.contextualContent > .scroller > .group-content > .list-content {
    margin: 0;
    padding: 0;
}

.contextualContent > .scroller > .group-content > .list-content > li {
    background-color: @menu-list-item-bg-color;
    list-style: none;
    margin: 0;
    position: relative;
    color: @menu-list-item-color;
    text-decoration: none;
    padding: 8px 0px 8px 8px;
    .border-radius(0px);
}

.group-content > h2 {
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 4px;
    position: relative;
    background-color: @glist-header-bg-color;
    color: @glist-header-color;
}

.panel-content,
.panel-loading-indicator {
    padding: 0 10px;
}

.panel-validation-summary > h2,
.panel-concurrency-summary > h2 {
    border-bottom: @validation-h2-border;
    border-top: @validation-h2-border;
    background-color: @validation-h2-bg-color;
    color: @validation-h2-color;
}

.panel-validation-summary > h2:first-child,
.panel-concurrency-summary > h2:first-child {
    border-top: @validation-h2-firstchild-border;
}

.quick-actions > .action-list {
    background-color: @color-deep-slate;
    padding: 10px 5px 15px 5px;
}

.detailContent {
    padding-top: 15px !important;
    li {
        border-bottom: 1px solid @color-lighter-slate;
    }
}

.detailContent.list {
    padding-top: 0 !important;
}

.detail-header {
    padding: 25px 0 10px 0 !important;
    font-size: 18px;
}

.detail-sub-header {
    padding: 2px 0 2px 0 !important;
    font-size: 16px;
}

/* Calendar */

.logo {
    text-align: center;
}

.field-highlight {
    border: 2px solid red;
    padding: 5px;
}

.related-item-count {
    margin: 0 5px 0 0;
    min-width: 36px;
    min-height: 36px;
    line-height: 36px;
    display: inline-block;
    background-color: @color-azure;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.related-item-label {
    color: @link-color;
}
