.row {
  font-size: 12px;
  font-size: 1.2rem;
  clear: both;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%; }
  .row.full-width {
    margin-top: 20px;
    max-width: 100%; }
  .row:last-child {
    margin-bottom: 30px; }
  .row.offset-two {
    max-width: 1160px;
    padding-left: 40px; }
  .row.align-to-title {
    padding: 0 1rem; }
  .row.top-padding {
    padding-top: 30px; }
  .row.bottom-padding {
    padding-bottom: 20px; }
  .row.bottom-space {
    padding-bottom: 10px !important; }
  .row.full-height {
    height: 100%;
    margin: 0 auto; }

.row::after {
  clear: both;
  content: '';
  display: table; }

.homepage .row {
  clear: none; }

.header + .svg-icons + div {
  margin-top: 10px; }

.column,
.columns {
  float: left;
  padding: 0 20px;
  width: 100%; }
  .column.l-center .field,
  .columns.l-center .field {
    text-align: center; }
    .column.l-center .field label,
    .columns.l-center .field label {
      text-align: left; }
  .column.full-height,
  .columns.full-height {
    height: 100%;
    margin: 0; }
    .column.full-height .datagrid-body,
    .columns.full-height .datagrid-body {
      height: calc(100% - 85px); }
    .column.full-height .has-toolbar .datagrid-body,
    .columns.full-height .has-toolbar .datagrid-body {
      height: calc(100% - 40px); }

@media (min-width: 0) and (max-width: 967px) {
  .one-half-mobile {
    margin-left: 0;
    width: 50%; }
    .one-half-mobile + .one-half-mobile {
      padding-left: 20px; } }

@media (min-width: 767px) {
  .row {
    padding-right: 20px; }
  .column,
  .columns {
    padding: 0; }
  .one.column,
  .one.columns {
    margin-left: 20px;
    width: calc(8.33333333333% - 20px); }
  .two.columns {
    margin-left: 20px;
    width: calc(16.6666666666% - 20px); }
  .three.columns {
    margin-left: 20px;
    width: calc(25% - 20px); }
  .four.columns {
    margin-left: 20px;
    width: calc(33.3333333333% - 20px); }
  .five.columns {
    margin-left: 20px;
    width: calc(41.6666666666% - 20px); }
  .six.columns {
    margin-left: 20px;
    width: calc(50% - 20px); }
  .seven.columns {
    margin-left: 20px;
    width: calc(58.3333333333% - 20px); }
  .eight.columns {
    margin-left: 20px;
    width: calc(66.6666666666% - 20px); }
  .nine.columns {
    margin-left: 20px;
    width: calc(75% - 20px); }
  .ten.columns {
    margin-left: 20px;
    width: calc(83.3333333333% - 20px); }
  .eleven.columns {
    margin-left: 20px;
    width: calc(91.6666666666% - 20px); }
  .twelve.columns,
  .full.column {
    margin-left: 20px;
    width: calc(100% - 20px); }
    .twelve.columns.center,
    .full.column.center {
      display: block;
      min-width: 300px;
      text-align: center; }
  .one-fifth.column {
    margin-left: 20px;
    width: calc(20% - 20px); }
  .one-fourth.column {
    margin-left: 20px;
    width: calc(25% - 20px); }
  .one-third.column {
    margin-left: 20px;
    width: calc(33.3333333% - 20px); }
  .two-thirds.column {
    margin-left: 20px;
    width: calc(66.6666666666% - 20px); }
  .one-half.column {
    margin-left: 20px;
    width: calc(50% - 20px); } }

html[dir='rtl'] .column,
html[dir='rtl'] .columns {
  float: right; }
  html[dir='rtl'] .column.l-center .field label,
  html[dir='rtl'] .columns.l-center .field label {
    text-align: right; }

@media (min-width: 767px) {
  html[dir='rtl'] .row {
    padding-left: 20px;
    padding-right: inherit; }
  html[dir='rtl'] .one.column,
  html[dir='rtl'] .one.columns,
  html[dir='rtl'] .two.columns,
  html[dir='rtl'] .three.columns,
  html[dir='rtl'] .four.columns,
  html[dir='rtl'] .five.columns,
  html[dir='rtl'] .six.columns,
  html[dir='rtl'] .seven.columns,
  html[dir='rtl'] .eight.columns,
  html[dir='rtl'] .nine.columns,
  html[dir='rtl'] .ten.columns,
  html[dir='rtl'] .eleven.columns,
  html[dir='rtl'] .twelve.columns,
  html[dir='rtl'] .full.column,
  html[dir='rtl'] .one-third.column,
  html[dir='rtl'] .two-thirds.column,
  html[dir='rtl'] .one-half.column {
    margin-left: inherit;
    margin-right: 20px; } }

.show {
  display: block !important; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.collapsed {
  visibility: collapse; }

.invisible {
  visibility: hidden; }

.sr-only,
.audible {
  clip: rect(0, 0, 0, 0);
  height: 0;
  line-height: 0;
  min-height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.no-animation {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important; }
  .no-animation::before {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }
  .no-animation::after {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }
  .no-transition::before {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }
  .no-transition::after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

[class*="visible-sm-"],
[class*="visible-md-"],
[class*="visible-lg-"],
[class*="visible-xl-"],
[class*="visible-print-"] {
  display: none !important; }

@media (max-width: 766px) {
  .visible-sm-block {
    display: block !important; }
  .visible-sm-inline {
    display: inline !important; }
  .visible-sm-inline-block {
    display: inline-block !important; }
  .hidden-sm {
    display: none !important; } }

@media (min-width: 767px) and (max-width: 1279px) {
  .visible-md-block {
    display: block !important; }
  .visible-md-inline {
    display: inline !important; }
  .visible-md-inline-block {
    display: inline-block !important; }
  .hidden-md {
    display: none !important; } }

@media (min-width: 1280px) and (max-width: 1599px) {
  .visible-lg-block {
    display: block !important; }
  .visible-lg-inline {
    display: inline !important; }
  .visible-lg-inline-block {
    display: inline-block !important; }
  .hidden-lg {
    display: none !important; } }

@media (min-width: 1600px) {
  .visible-xl-block {
    display: block !important; }
  .visible-xl-inline {
    display: inline !important; }
  .visible-xl-inline-block {
    display: inline-block !important; }
  .hidden-xl {
    display: none !important; } }

@media print {
  .visible-print-block {
    display: block !important; }
  .visible-print-inline {
    display: inline !important; }
  .visible-print-inline-block {
    display: inline-block !important; }
  .hidden-print {
    display: none !important; } }

.blockgrid {
  margin: 0;
  max-width: 100%;
  text-align: left; }
  .blockgrid .block {
    border-radius: 2px;
    display: inline-block;
    margin: 20px 0 0 20px;
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
    width: 200px; }
    .blockgrid .block img {
      margin-bottom: 10px; }
    .blockgrid .block a {
      display: inline-block;
      margin-bottom: 10px; }
    .blockgrid .block.is-selected {
      background-color: rgba(200, 233, 244, 0.7); }
  .blockgrid.l-center {
    text-align: center; }
  .blockgrid.blockgrid-md .block {
    width: 145px; }
  .blockgrid.blockgrid-sm .block {
    width: 120px; }
  .blockgrid.is-selectable {
    cursor: pointer; }
  .blockgrid .blockgrid-title {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-size: 1.4rem;
    color: #5c5c5c;
    display: block;
    padding-bottom: 10px;
    text-align: center; }

html[dir='rtl'] .blockgrid {
  text-align: right; }
  html[dir='rtl'] .blockgrid .block {
    margin: 20px 20px 0 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("/webfonts/ProximaNova-Regular.eot");
  src: url("/webfonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/webfonts/ProximaNova-Regular.woff") format("woff"), url("/webfonts/ProximaNova-Regular.ttf") format("truetype"); }

html {
  font-size: 62.5%; }
  html body {
    background-color: #ffffff;
    color: #484a51;
    font-family: ProximaNova-Regular, helvetica, arial;
    font-size: 1rem;
    margin: 20px 0; }

.svg-icons {
  display: none; }

.doc-index .fieldset-title {
  font-size: 14px;
  font-size: 1.4rem;
  color: #484a51; }

.doc-index .columns {
  text-align: center; }
  .doc-index .columns .link-list {
    text-align: left; }

.doc-index .row {
  max-width: 100%;
  width: 100%; }

@media (min-width: 0) and (max-width: 967px) {
  .doc-index .columns {
    text-align: left; } }

h1 {
  font-size: 50px;
  font-size: 5rem;
  color: #0060d4;
  font-weight: lighter;
  line-height: 60px; }

h2 {
  font-size: 28px;
  font-size: 2.8rem;
  color: #000000;
  font-weight: lighter;
  line-height: 42px; }

h3 {
  font-size: 14px;
  font-size: 1.4rem;
  color: #000000;
  letter-spacing: 1.17px;
  line-height: 16px;
  text-transform: uppercase; }

h4 {
  font-size: 14px;
  font-size: 1.4rem;
  color: #000000; }

p,
ul,
li,
code {
  font-size: 16px;
  font-size: 1.6rem;
  color: #484a51;
  font-family: ProximaNova-Regular, helvetica, arial;
  font-weight: 400;
  line-height: 2.4rem; }

a {
  font-size: 16px;
  font-size: 1.6rem;
  color: #0060d4;
  font-weight: normal;
  text-decoration: none; }
  a svg {
    fill: #0060d4;
    height: 14px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 14px; }

pre {
  background-color: #f9fafc;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  letter-spacing: 1.17px;
  line-height: 24px;
  max-width: 100%;
  overflow: hidden; }

#table-of-contents,
#table-of-contents + ul {
  display: none; }

p strong {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 0; }
  p strong::after {
    content: ':'; }

.doc-header {
  height: 100px;
  margin: -19px 0 5px;
  padding: 0;
  vertical-align: middle; }
  .doc-header .row {
    max-width: 100%;
    padding-left: 37px;
    padding-right: 40px;
    width: 100%; }
    .doc-header .row > * {
      display: inline-block;
      float: left; }
  .doc-header .doc-logo {
    display: inline-block;
    margin-top: 22px;
    padding-right: 7px; }
    .doc-header .doc-logo svg {
      height: 48px;
      width: 149px; }
  .doc-header .doc-header-logo {
    margin-right: 128px; }
  .doc-header .doc-header-link {
    font-size: 16px;
    font-size: 1.6rem;
    border-bottom: 2px solid transparent;
    color: #000000;
    display: inline-block;
    margin: 29px 18px 29px 18.5px;
    padding: 15px 5px 1px;
    text-decoration: none; }
    .doc-header .doc-header-link.is-active {
      border-bottom: 2px solid #0060d4;
      color: #0060d4; }
  .doc-header .doc-header-secondary-links {
    float: right;
    margin-right: 2px; }
  .doc-header .doc-header-secondary-link {
    font-size: 16px;
    font-size: 1.6rem;
    color: #727272;
    display: inline-block;
    margin: 29px 18px 29px 18.5px;
    padding: 15px 5px 1px;
    text-decoration: none; }
  .doc-header .doc-header-search {
    margin: 25px 20px; }
    .doc-header .doc-header-search svg {
      fill: #727272; }

.doc-main-index {
  margin: 0;
  max-width: 100%;
  width: 100%; }
  .doc-main-index .link-list {
    text-align: left; }
  .doc-main-index .full.column {
    margin-left: 40px;
    width: calc(100% - 60px); }

@media (min-width: 0) and (max-width: 967px) {
  .doc-header .doc-header-secondary-links {
    clear: both;
    display: block;
    float: none;
    margin: 0 0 0 -21px;
    position: relative;
    top: -55px; }
  .doc-version-ddl {
    margin-top: 15px; } }

table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

td.lineNumbers {
  border-right: 1px solid #aaaaaa;
  color: #aaaaaa;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right; }

td.sourceCode {
  padding-left: 5px; }

code.sourceCode span.kw {
  color: #006699; }

code.sourceCode span.dt {
  color: #902000; }

code.sourceCode span.dv {
  color: #40a070; }

code.sourceCode span.bn {
  color: #40a070; }

code.sourceCode span.fl {
  color: #40a070; }

code.sourceCode span.ch {
  color: #4070a0; }

code.sourceCode span.st {
  color: #d44950; }

code.sourceCode span.co {
  color: #60a0b0;
  font-style: italic; }

code.sourceCode span.ot {
  color: #4f9fcf; }

code.sourceCode span.al {
  color: #ff0000; }

code.sourceCode span.fu {
  color: #06287e; }

code.sourceCode span.er {
  color: #ff0000; }

code {
  background-color: #f9fafc;
  border-radius: 2px;
  font-size: 16px;
  letter-spacing: 1.17px;
  line-height: 24px; }

/*# sourceMappingURL=site.css.map */