<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="OrmConfiguration" type="Sage.Platform.Extensibility.OrmConfiguration, Sage.Platform"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Platform;SalesLogix;SupportFiles"/>
    </assemblyBinding>
  </runtime>

  <OrmConfiguration>
    <extensions>
      <extension guid="{BD282510-B0DD-4b66-8654-8723A4B9F651}" name="Server Objects Package" typeName="Sage.Platform.Orm.CodeGen.SalesLogixCodeGeneration, Sage.Platform.Orm.CodeGen"/>
      <extension guid="{3BD6A6DE-09A6-42f8-A247-F5537ED607E4}" name="High-Level Types Package" typeName="Sage.SalesLogix.HighLevelTypes.SlxHighLevelTypes, Sage.SalesLogix.HighLevelTypes"/>
      <extension guid="{04769cab-b058-4258-bff3-569f55214747}" name="Quick Forms Package" typeName="Sage.Platform.QuickForms.WebFormGen.WebQuickFormRendering, Sage.Platform.QuickForms.WebFormGen"/>
      <extension guid="{5D3B4CEE-F5B5-4d4c-B200-6E4D33646057}" name="Quick Form Interfaces Package" typeName="Sage.Platform.QuickForms.WebFormGen.FormCodeGeneration, Sage.Platform.QuickForms.WebFormGen"/>
    </extensions>
  </OrmConfiguration>
</configuration>