<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
			Overrides the default ReflectionConfigurationTypeInfo.ConfigurationSourceType to Sage.Platform.Configuration.FileConfigurationSource,
			which sources configuration from under the 'executing assembly path'/Configuration/* directories instead of 
			%ALLUSERSPROFILE%/Sage/Platform/Configuration
		-->
    <add key="sage.platform.configuration.default-configuration-source" value="FileConfigurationSource"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Platform;SalesLogix;SupportFiles"/>
    </assemblyBinding>
  </runtime>
</configuration>